body{
    background-color:lightblue;
    height: 1082px;}

    header {
        background-color: grey;
        height: 100px;
        text-align:start;
        width: 5500px;
    
    }
    
    header h1 {
        color: black;
        height: 100px;
        font-family: Arial, Helvetica, sans-serif;
        text-align:start;
        font-size: 50px;
        padding-block-start: 30px;
    }
    .alert-danger{
        font-size:18px;
        font-weight:bold ;
        font-family:Arial, Helvetica, sans-serif ;
        padding:10px ;
        border: 0px solid red;
        margin:10px ;
    background-color: red;
    
    }
    .alert-success{
        font-size:18px;
        font-weight:bold ;
        font-family:Arial, Helvetica, sans-serif ;
        padding:10px ;
        border: 0px solid green;
        margin:10px ;
    background-color:green
    }
    .alert-warning{
        font-size:18px;
        font-weight:bold ;
        font-family:Arial, Helvetica, sans-serif ;
        padding:10px ;
        border: 0px solid yellow;
        margin:10px ;
    background-color:yellow;
    }
    .alert-danger span{
        background-color:red;
            }
        .alert-success span{
            background-color: green;
        }
        .alert-warning span{
            background-color: yellow;
        }

        nav{
            text-align: center;
        }
        nav a {
         text-decoration: none;
         font-size: 113px;
         padding-right: 125px;
         padding-left: 125px;
         color: rgb(0, 0, 0) 119, 117;
         all: initial;
     }
        nav button {
         background-color: #8c00ff;
         font-size: 25px;
         font-family: Arial, Helvetica, sans-serif;
         text-align:start;
       }
      a{color: black;

      }

h3{
    color: rgba(0, 0, 0, 0.856);
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }
      p{color: black;
          font-size: 90px;
          font-family: Arial, Helvetica, sans-serif;
      }    
 
 footer {background-color:rgba(0, 0, 0, 0.856);
    width: 1400px;
    bottom:200x;
    position: fixed;
    height: 500px;
}


    
/*text-decoration: none*/

footer h1 { color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:start;
    font-size: 50px;
    }
    /*text-decoration: none*/ 
    
    footer a {
        color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align:start;
font-size: 50px;}
    
    footer p {color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align:start;
    font-size: 50px;

    }
    

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}

#contanier{
    min-height:100%;
}
#main{
    overflow: auto;
    padding: 100px;
}

#footer{
    background-color:black;
    position:relative;
    height: 500px;
    margin-bottom:-4000px;
    clear: both;
}

@media only screen and (min-width:375px){
    body{
        background-color:lightblue;
        height: 1082px;}
    
        header {
            background-color: grey;
            height: 100px;
            text-align:start;
            width: 5500px;
        }
        
        header h1 {
            color: black;
            height: 100px;
            font-family: Arial, Helvetica, sans-serif;
            text-align:start;
            font-size: 50px;
            padding-block-start: 30px;
            width: 2000px;
        }
        .alert-danger{
            font-size:18px;
            font-weight:bold ;
            font-family:Arial, Helvetica, sans-serif ;
            padding:10px ;
            border: 0px solid red;
            margin:10px ;
        background-color: red;
        width: 5500px;
        }
        .alert-success{
            font-size:18px;
            font-weight:bold ;
            font-family:Arial, Helvetica, sans-serif ;
            padding:10px ;
            border: 0px solid green;
            margin:10px ;
        background-color:green;
        width: 5500px;
        }
        .alert-warning{
            font-size:18px;
            font-weight:bold ;
            font-family:Arial, Helvetica, sans-serif ;
            padding:10px ;
            border: 0px solid yellow;
            margin:10px ;
        background-color:yellow;
        width: 5500px;
        }
        .alert-danger span{
            background-color:red;
                }
            .alert-success span{
                background-color: green;
            }
            .alert-warning span{
                background-color: yellow;
            }
           nav{
               text-align: center;
           }
           nav a {
            text-decoration: none;
            padding-right: 125px;
            padding-left: 125px;
            color: rgb(0, 0, 0) 119, 117;
            all: initial;
            font-size: 50px;
        }
           nav button {
    
          }
          a{color: black;
            height: 200px;

    
          }
        
    main{}
    
    h3{
        color: rgba(0, 0, 0, 0.856);
            font-size: 50px;
            font-family: Arial, Helvetica, sans-serif;
        }
          p{color: black;
              font-size: 90px;
              font-family: Arial, Helvetica, sans-serif;
          }    
     
     footer {background-color:rgba(0, 0, 0, 0.856);
        width: 5500px;
        bottom: 0px;
        position: fixed;
        height: 500px;
    }
    
    
        
    /*text-decoration: none*/
    
    footer h1 { color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align:start;
        font-size: 50px;
        }
        /*text-decoration: none*/ 
        
        footer a {
            color: blue;
        font-family: Arial, Helvetica, sans-serif;
        text-align:start;
    font-size: 50px;}
        
        footer p {color: white;
            font-family: Arial, Helvetica, sans-serif;
            text-align:start;
        font-size: 50px;
    
        }
    *{
        margin: 0px;
        padding: 0px;
    }
    
    html, body{
        height: 100%;
    }
    
    #contanier{
        min-height:100%;
    }
    #main{
        overflow: auto;
        padding: 100px;
    }
    
    #footer{
        background-color:black;
        position:relative;
        height: 500px;
        margin-bottom:-4000px;
        clear: both;
    }
   
    

    
}